
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*
html {
  scroll-behavior: smooth;
}
*/

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

header {
  padding: 20px;
  height: 50px;
  background-color: white;
  text-align: center;
  font-size: 20px;

}

header a {
  color: black;
}

header .logo a {
  background-image: url("../img/logo1.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -999999px;
  position: relative;
  height: 80px;
  top: -9px;
  width: 150px;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline-block;
  margin: 20px;
}


/*              Main                    */

.bluetext {
  color: #1ebbb3;
}

#showcase {
  display: flex;
  background-image: url("../img/doctor.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
  font-size: 50px;
  line-height: 1.2;
}

#showcase p {
  font-size: 20px;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  border: #000000 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#showcase .button:hover {
  background: #000000;
  color: #fff;
}

#section-a {
  padding: 20px;
  background: #926239;
  color: #fff;
  text-align: center;
}

#section-b {
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
  /*
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-between;
  */
}

.wrapper {
  width: 1250px;
  margin: 0 auto;
}

.boks div {
  width: calc(50% - 20px);
  height: 300px;
  margin: 10px;
  float:left;
  padding-bottom: 80px;
}


.fakta-box h1 {
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 160%;
  color: #1ebbb3;
  text-align: left;
  text-transform: uppercase;
  padding: 5px 12px;
}

.fakta-box h2 {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: #111;
  padding: 20px 20px;
  line-height: 160%;
  text-align: left;
  margin-top: -25px;
  margin-bottom: -25px;
}

.fakta-pic {
  float: left;
}

.fakta-pic img {
  width: 300px;;
  margin-bottom: 10px;
  height: 380px;
}

#dna-pictu {
  display: block;
  background-image: url("../img/dna.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80%;
}

#vision-pictu {
  display: block;
  background-image: url("../img/vision.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80%;
}

/*            footer                */

footer {
  width: calc(100% - 40px);
  padding: 20px 20px;
  margin-top: 20px;
  background: #111;
  overflow: hidden;
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  list-style: none;
  line-height: 20px;
  color: #ffffff;
}

.footer-some {
  width: 55px;
  float: left;
}

.footer-some img {
  width: 100%;
  margin-bottom: 10px;
}
